[Unit]
Description=Pull the newest image from Simon Stålenhag
After=network-online.target

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
