[Unit]
Description=Pull the newest image from Simon Stålenhag
After=NetworkManager-wait-online.service

[Timer]
OnCalendar=daily
Persistent=true
Unit=stalenhag.service

[Install]
WantedBy=stalenhag.service
